%p
  ="Dear #{h @user.firstname},"
%p
  Welcome to DevKoans!
%p
  I'd like to take this opportunity to welcome you and to thank you for checking out my blog. Please feel free to
  contact me via the "Contact Me" link in the navigation items if you have any questions or if you have a suggestion
  for the site.
%p
  Sincerely,
  %br
  Jon Mischo
  %br
  =h @url
