="Dear #{h @user.firstname},"

Welcome to DevKoans!

I'd like to take this opportunity to welcome you and to thank you for checking out my blog. Please feel free to
contact me via the "Contact Me" link in the navigation items if you have any questions or if you have a suggestion
for the site.

Sincerely,

Jon Mischo

=h @url
