Dear #{@comment.post.poster.firstname},

Somebody commented on your post, so this is a friendly reminder to go check it out!

Post title: #{@comment.post.title}
Post URL: #{@comment.post.short_url}
Comment subject: #{@comment.title}
