.comments
  +column(16)
  :padding-left 3em
  .comment
    +safe_padding
    :font-size .8em
    .commenthead
      +column(15)
      +safe_padding
      :background-color = !comment_background_color
      :color = !comment_header_text
      :border-bottom = "1px solid" !comment_header_text
      .id
        +column(2)
        :color = !comment_header_text
        :padding-top .2em
      .title
        +column(10)
        :vertical-align middle
        :color = !comment_header_text
        +small_caps
        +no_dec
        +capitalize
        :font-size 1.25em
      .metadata
        +column(3, true)
        :text-align right
        :vertical-align bottom
        +italics
        :font-size .85em
        :color = !comment_header_text
        a
          +no_dec
          :color = !comment_link_color
    .commentbody
      +column(15)
      +safe_padding
      :border-bottom = "1px solid" !comment_header_text
      p.reply
        +italics
        :color #888
      a
        :color = !comment_link_color
        +no_dec
      span
        a
          :color = !comment_link_color
          +no_dec
          +italics
          :font-size .9em
          +small_caps
          +capitalize
    .commentfoot
      +column(15)
      +safe_padding
      +italics
      :margin-bottom 2em
      :color #666
      :font-size .9em
      a.auth
        :color = !comment_link_color
        +no_dec
      a
        :color = !comment_link_color
        +no_dec
      .left
        +column(8)
        :text-align left
      .right
        +column(7,true)
        :text-align right
      span
        :color = !comment_header_text
