/* line 4, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 9, ../../app/stylesheets/partials/_color_boxes.sass */
.boxcol {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .boxcol {
    overflow-x: hidden; }

/* line 12, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_base {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #55bbff;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_base {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_base h2 {
    color: #fff; }

/* line 14, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_support {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #ff6055;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_support {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_support h2 {
    color: #fff; }

/* line 16, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_accent {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #66ff55;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_accent {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_accent h2 {
    color: #fff; }

/* line 18, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_dark_base {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #0099ff;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_dark_base {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_dark_base h2 {
    color: #fff; }

/* line 20, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_darker_base {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #005c99;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_darker_base {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_darker_base h2 {
    color: #fff; }

/* line 22, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_darkest_base {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #003355;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_darkest_base {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_darkest_base h2 {
    color: #fff; }

/* line 24, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_light_base {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #80ccff;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_light_base {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_light_base h2 {
    color: #fff; }

/* line 26, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_lighter_base {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #aaddff;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_lighter_base {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_lighter_base h2 {
    color: #fff; }

/* line 28, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_lightest_base {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #d5eeff;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_lightest_base {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_lightest_base h2 {
    color: #fff; }

/* line 30, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_dark_support {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #ff1000;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_dark_support {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_dark_support h2 {
    color: #fff; }

/* line 32, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_darker_support {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #aa0b00;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_darker_support {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_darker_support h2 {
    color: #fff; }

/* line 34, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_darkest_support {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #550500;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_darkest_support {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_darkest_support h2 {
    color: #fff; }

/* line 36, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_light_support {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #ff8880;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_light_support {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_light_support h2 {
    color: #fff; }

/* line 38, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_lighter_support {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #ffafaa;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_lighter_support {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_lighter_support h2 {
    color: #fff; }

/* line 40, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_lightest_support {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #ffd7d5;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_lightest_support {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_lightest_support h2 {
    color: #fff; }

/* line 42, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_dark_accent {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #1aff00;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_dark_accent {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_dark_accent h2 {
    color: #fff; }

/* line 44, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_darker_accent {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #11aa00;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_darker_accent {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_darker_accent h2 {
    color: #fff; }

/* line 46, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_darkest_accent {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #095500;
  color: white; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_darkest_accent {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_darkest_accent h2 {
    color: #fff; }

/* line 48, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_light_accent {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #8cff80;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_light_accent {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_light_accent h2 {
    color: #fff; }

/* line 50, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_lighter_accent {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #b3ffaa;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_lighter_accent {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_lighter_accent h2 {
    color: #fff; }

/* line 52, ../../app/stylesheets/partials/_color_boxes.sass */
.colbox_lightest_accent {
  padding: 1em;
  margin-bottom: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  background-color: #e0ffdd;
  color: black; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .colbox_lightest_accent {
    overflow-x: hidden; }
  /* line 6, ../../app/stylesheets/partials/_color_boxes.sass */
  .colbox_lightest_accent h2 {
    color: #fff; }

/* line 11, ../../app/stylesheets/screen.sass */
body.styled {
  background-color: white;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 10pt; }
  /* line 19, ../../app/stylesheets/partials/_styling.sass */
  body.styled h1 {
    font-size: 2.5em; }
  /* line 21, ../../app/stylesheets/partials/_styling.sass */
  body.styled h2 {
    font-size: 2.25em; }
  /* line 23, ../../app/stylesheets/partials/_styling.sass */
  body.styled h3 {
    font-size: 2em; }
  /* line 25, ../../app/stylesheets/partials/_styling.sass */
  body.styled h4 {
    font-size: 1.75em; }
  /* line 27, ../../app/stylesheets/partials/_styling.sass */
  body.styled h5 {
    font-size: 1.5em; }
  /* line 29, ../../app/stylesheets/partials/_styling.sass */
  body.styled h6 {
    font-size: 1.25em; }
  /* line 9, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .clear {
    clear: both; }
  /* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .nowrap {
    white-space: nowrap; }
  /* line 16, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .clearfix {
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.styled .clearfix {
      display: block; }
  /* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em; }
  /* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em; }
  /* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .first {
    margin-left: 0;
    padding-left: 0; }
  /* line 29, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .last {
    margin-right: 0;
    padding-right: 0; }
  /* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .top {
    margin-top: 0;
    padding-top: 0; }
  /* line 35, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.styled .bottom {
    margin-bottom: 0;
    padding-bottom: 0; }
  /* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
  body.styled .showgrid {
    background: url('/images/grid.png'); }
  /* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .error {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
    /* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.styled .error a {
      color: #8a1f11; }
  /* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.styled .notice a {
      color: #514721; }
  /* line 9, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    /* line 46, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.styled .success a {
      color: #264409; }
  /* line 11, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .hide {
    display: none; }
  /* line 13, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .highlight {
    background: yellow; }
  /* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .added {
    background: #006600;
    color: white; }
  /* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.styled .removed {
    background: #990000;
    color: white; }
  /* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form label {
    font-weight: bold; }
  /* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0; }
  /* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form legend {
    font-weight: bold;
    font-size: 1.2em; }
  /* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.text, body.styled form input.title, body.styled form input[type=text] {
    margin: 0.5em 0;
    background-color: #fff;
    padding: 5px; }
  /* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.title {
    font-size: 1.5em; }
  /* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input[type=checkbox], body.styled form input.checkbox,
  body.styled form input[type=radio], body.styled form input.radio {
    position: relative;
    top: 0.25em; }
  /* line 34, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form textarea {
    margin: 0.5em 0;
    padding: 5px; }
  /* line 37, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form select {
    margin: 0.5em 0; }
  /* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form fieldset {
    border: 1px solid #cccccc; }
  /* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.text, body.styled form input.title,
  body.styled form textarea,
  body.styled form select {
    border: 1px solid #bbbbbb; }
    /* line 54, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
    body.styled form input.text:focus, body.styled form input.title:focus,
    body.styled form textarea:focus,
    body.styled form select:focus {
      border: 1px solid #666666; }
  /* line 41, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form input.text, body.styled form input.title {
    width: 300px; }
  /* line 43, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  body.styled form textarea {
    width: 390px;
    height: 250px; }
  /* line 21, ../../app/stylesheets/screen.sass */
  body.styled #container {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.styled #container {
      display: block; }
  /* line 23, ../../app/stylesheets/screen.sass */
  body.styled #header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
    background-color: white;
    font-variant: small-caps;
    margin-bottom: 5px;
    height: 6em;
    border-bottom: 3px double #ccc; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #header {
      overflow-x: hidden; }
  /* line 30, ../../app/stylesheets/screen.sass */
  body.styled #identityarea {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 710px;
    margin-top: 5px;
    text-align: left; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #identityarea {
      overflow-x: hidden; }
    /* line 34, ../../app/stylesheets/screen.sass */
    body.styled #identityarea h1 {
      font-size: 3em; }
    /* line 36, ../../app/stylesheets/screen.sass */
    body.styled #identityarea span {
      color: #005c99; }
    /* line 38, ../../app/stylesheets/screen.sass */
    body.styled #identityarea .tagline {
      text-transform: capitalize;
      font-style: italic;
      font-size: 1.1em;
      color: #666;
      padding-left: .25em; }
  /* line 44, ../../app/stylesheets/screen.sass */
  body.styled #usernav {
    display: inline;
    float: left;
    margin-right: 0;
    width: 230px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    background-color: white;
    text-align: center;
    padding-bottom: 2px;
    color: #666; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #usernav {
      overflow-x: hidden; }
    /* line 51, ../../app/stylesheets/screen.sass */
    body.styled #usernav a {
      text-decoration: none;
      color: #aa0b00; }
  /* line 54, ../../app/stylesheets/screen.sass */
  body.styled #footer {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
    background-color: white;
    margin-top: 3em;
    font-variant: small-caps;
    margin-bottom: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: .8em;
    color: #888; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #footer {
      overflow-x: hidden; }
  /* line 64, ../../app/stylesheets/screen.sass */
  body.styled #livearea {
    text-align: left;
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: white;
    padding-top: .5em; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #livearea {
      overflow-x: hidden; }
  /* line 70, ../../app/stylesheets/screen.sass */
  body.styled #sidebar {
    display: inline;
    float: left;
    margin-right: 0;
    width: 230px;
    font-variant: small-caps;
    background: white;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    height: 100%;
    min-height: 100%;
    text-align: left;
    padding-top: 1.25em; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #sidebar {
      overflow-x: hidden; }
    /* line 79, ../../app/stylesheets/screen.sass */
    body.styled #sidebar .section {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 1em;
      margin-top: 1em; }
      /* line 83, ../../app/stylesheets/screen.sass */
      body.styled #sidebar .section .secthead {
        display: inline;
        float: left;
        margin-right: 0;
        width: 190px;
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        padding: 0px 3px 0px 3px;
        background-color: #aa0b00;
        border-top: 1px solid #aa0b00;
        border-left: 1px solid #aa0b00;
        border-right: 1px solid #aa0b00;
        color: #fff; }
        /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body.styled #sidebar .section .secthead {
          overflow-x: hidden; }
      /* line 92, ../../app/stylesheets/screen.sass */
      body.styled #sidebar .section .sectbody {
        display: inline;
        float: left;
        margin-right: 0;
        width: 190px;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        padding: 1px 3px 1px 3px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        color: #444; }
        /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body.styled #sidebar .section .sectbody {
          overflow-x: hidden; }
        /* line 101, ../../app/stylesheets/screen.sass */
        body.styled #sidebar .section .sectbody a {
          text-decoration: none;
          color: #666; }
        /* line 104, ../../app/stylesheets/screen.sass */
        body.styled #sidebar .section .sectbody p.tweet {
          border-top: 1px solid #ccc; }
  /* line 106, ../../app/stylesheets/screen.sass */
  body.styled #content {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 710px;
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.styled #content {
      overflow-x: hidden; }
    /* line 110, ../../app/stylesheets/screen.sass */
    body.styled #content .secttitle {
      font-variant: small-caps;
      font-size: 1.5em;
      padding-left: .5em;
      margin-bottom: .15em; }
      /* line 115, ../../app/stylesheets/screen.sass */
      body.styled #content .secttitle span {
        font-size: .75em;
        color: #666; }
    /* line 118, ../../app/stylesheets/screen.sass */
    body.styled #content .post {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 8px;
      padding-right: 8px; }
      /* line 120, ../../app/stylesheets/screen.sass */
      body.styled #content .post .posthead {
        display: inline;
        float: left;
        margin-right: 10px;
        width: 630px;
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: #005c99;
        border-top: 1px solid #005c99;
        border-left: 1px solid #005c99;
        border-right: 1px solid #005c99; }
        /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body.styled #content .post .posthead {
          overflow-x: hidden; }
        /* line 128, ../../app/stylesheets/screen.sass */
        body.styled #content .post .posthead .title {
          display: inline;
          float: left;
          margin-right: 10px;
          width: 510px;
          vertical-align: middle; }
          /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
          * html body.styled #content .post .posthead .title {
            overflow-x: hidden; }
          /* line 131, ../../app/stylesheets/screen.sass */
          body.styled #content .post .posthead .title a {
            color: white;
            font-variant: small-caps;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 1.25em; }
        /* line 137, ../../app/stylesheets/screen.sass */
        body.styled #content .post .posthead .datetime {
          display: inline;
          float: left;
          margin-right: 0;
          width: 110px;
          text-align: right;
          vertical-align: bottom;
          font-style: italic;
          font-size: .85em;
          color: #e0ffdd; }
          /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
          * html body.styled #content .post .posthead .datetime {
            overflow-x: hidden; }
      /* line 144, ../../app/stylesheets/screen.sass */
      body.styled #content .post .postbody {
        display: inline;
        float: left;
        margin-right: 10px;
        width: 630px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px; }
        /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body.styled #content .post .postbody {
          overflow-x: hidden; }
        /* line 151, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postbody a {
          color: #aa0b00;
          text-decoration: none; }
        /* line 155, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postbody span a {
          color: #005c99;
          text-decoration: none;
          font-style: italic;
          font-size: .9em;
          font-variant: small-caps;
          text-transform: capitalize; }
        /* line 162, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postbody p.tags {
          font-style: italic;
          color: #666;
          font-size: .8em;
          padding-top: .4em; }
      /* line 167, ../../app/stylesheets/screen.sass */
      body.styled #content .post .postfoot {
        display: inline;
        float: left;
        margin-right: 10px;
        width: 630px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;
        font-style: italic;
        margin-bottom: 5px;
        color: #666;
        text-align: right;
        font-size: .9em; }
        /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body.styled #content .post .postfoot {
          overflow-x: hidden; }
        /* line 175, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postfoot .left {
          display: inline;
          float: left;
          margin-right: 10px;
          width: 270px;
          text-align: left; }
          /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
          * html body.styled #content .post .postfoot .left {
            overflow-x: hidden; }
        /* line 178, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postfoot .right {
          display: inline;
          float: left;
          margin-right: 0;
          width: 350px;
          text-align: right; }
          /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
          * html body.styled #content .post .postfoot .right {
            overflow-x: hidden; }
        /* line 181, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postfoot a.auth {
          color: #aa0b00;
          text-decoration: none; }
        /* line 184, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postfoot a {
          color: #11aa00;
          text-decoration: none; }
        /* line 187, ../../app/stylesheets/screen.sass */
        body.styled #content .post .postfoot span {
          color: #005c99; }
    /* line 189, ../../app/stylesheets/screen.sass */
    body.styled #content .comments {
      display: inline;
      float: left;
      margin-right: 10px;
      width: 630px;
      padding-left: 3em; }
      /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
      * html body.styled #content .comments {
        overflow-x: hidden; }
      /* line 192, ../../app/stylesheets/screen.sass */
      body.styled #content .comments .comment {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: .8em; }
        /* line 195, ../../app/stylesheets/screen.sass */
        body.styled #content .comments .comment .commenthead {
          display: inline;
          float: left;
          margin-right: 10px;
          width: 590px;
          border-top-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          -moz-border-radius-topright: 5px;
          -webkit-border-top-right-radius: 5px;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 8px;
          padding-right: 8px;
          background-color: #095500;
          border-top: 1px solid #095500;
          border-left: 1px solid #095500;
          border-right: 1px solid #095500; }
          /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
          * html body.styled #content .comments .comment .commenthead {
            overflow-x: hidden; }
          /* line 203, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commenthead .id {
            display: inline;
            float: left;
            margin-right: 10px;
            width: 70px;
            color: #fff;
            padding-top: .2em; }
            /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
            * html body.styled #content .comments .comment .commenthead .id {
              overflow-x: hidden; }
          /* line 207, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commenthead .title {
            display: inline;
            float: left;
            margin-right: 10px;
            width: 390px;
            vertical-align: middle;
            color: #fff;
            font-variant: small-caps;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 1.25em; }
            /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
            * html body.styled #content .comments .comment .commenthead .title {
              overflow-x: hidden; }
          /* line 215, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commenthead .metadata {
            display: inline;
            float: left;
            margin-right: 0;
            width: 110px;
            text-align: right;
            vertical-align: bottom;
            font-style: italic;
            font-size: .85em;
            color: #d5eeff; }
            /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
            * html body.styled #content .comments .comment .commenthead .metadata {
              overflow-x: hidden; }
            /* line 222, ../../app/stylesheets/screen.sass */
            body.styled #content .comments .comment .commenthead .metadata a {
              text-decoration: none;
              color: #80ccff; }
        /* line 225, ../../app/stylesheets/screen.sass */
        body.styled #content .comments .comment .commentbody {
          display: inline;
          float: left;
          margin-right: 10px;
          width: 590px;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 8px;
          padding-right: 8px;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          border-bottom-right-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -webkit-border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          -moz-border-radius-bottomleft: 5px;
          -webkit-border-bottom-left-radius: 5px; }
          /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
          * html body.styled #content .comments .comment .commentbody {
            overflow-x: hidden; }
          /* line 232, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentbody p.reply {
            font-style: italic;
            color: #888; }
          /* line 235, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentbody a {
            color: #aa0b00;
            text-decoration: none; }
          /* line 239, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentbody span a {
            color: #005c99;
            text-decoration: none;
            font-style: italic;
            font-size: .9em;
            font-variant: small-caps;
            text-transform: capitalize; }
        /* line 246, ../../app/stylesheets/screen.sass */
        body.styled #content .comments .comment .commentfoot {
          display: inline;
          float: left;
          margin-right: 10px;
          width: 590px;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 8px;
          padding-right: 8px;
          font-style: italic;
          margin-bottom: 5px;
          color: #666;
          font-size: .9em; }
          /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
          * html body.styled #content .comments .comment .commentfoot {
            overflow-x: hidden; }
          /* line 253, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentfoot a.auth {
            color: #aa0b00;
            text-decoration: none; }
          /* line 256, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentfoot a {
            color: #11aa00;
            text-decoration: none; }
          /* line 259, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentfoot .left {
            display: inline;
            float: left;
            margin-right: 10px;
            width: 310px;
            text-align: left; }
            /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
            * html body.styled #content .comments .comment .commentfoot .left {
              overflow-x: hidden; }
          /* line 262, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentfoot .right {
            display: inline;
            float: left;
            margin-right: 0;
            width: 270px;
            text-align: right; }
            /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
            * html body.styled #content .comments .comment .commentfoot .right {
              overflow-x: hidden; }
          /* line 265, ../../app/stylesheets/screen.sass */
          body.styled #content .comments .comment .commentfoot span {
            color: #005c99; }
  /* line 267, ../../app/stylesheets/screen.sass */
  body.styled .nest {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
