.secttitle
  Latest Words
  %span of potentially great wisdom
.clear
=render :partial => "common/post"
.post
  .posthead
    .title
      %a{:href=>'#'}
        In which I discuss more stuff
    .datetime
      .date
        September 30, 2009
      .time
        at 21:30
  .postbody
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %a{:href=>'#'}Sed ornare mi eget mi imperdiet varius.
    Pellentesque pretium urna sit amet neque eleifend vestibulum. Vivamus in nibh non lacus dignissim mollis iaculis sed metus. Praesent mauris orci, interdum vel malesuada mollis, ultrices a orci. Nulla eget nisl nec velit convallis volutpat non at sapien. Vestibulum pretium mauris lorem. Curabitur mattis ultricies pharetra. Donec consequat vehicula est, nec gravida nunc sagittis porta. Etiam a neque non ligula lacinia ultrices et at nisl. Mauris sed massa leo, quis commodo ipsum. Sed nisl tellus, mattis at ullamcorper eget, tempor sed orci.
  .postfoot
    .left
      %a{:href => '#'}
        tweet
      |
      %a{:href=>'#'}
        email
      |
      %a{:href=>'#'}
        comment
    .right
      %a{:href => '#comments'}
        5 comments
      (last comment at 11 November 2009 at 22:17)
=render :partial => "common/post_summary"
