-content_for :after_default_js do
  =javascript_include_tag 'jquery.markitup', 'markitup-markdown-set', 'application-markitup', :cache => 'cache/markitup'
-content_for :before_default_css do
  = stylesheet_link_tag 'markitup-markdown', 'markitup-skin', :cache => 'cache/markitup'
- page_title 'Create a New Post'
.secttitle
  -if controller.action_name == 'new'
    Create a New Post
  -else
    Edit Post
.form
  -form_for @post do |f|
    .errors
      =f.error_messages
    %p
      =f.label :title
      %br
      =f.text_field :title, :size => 70
    %p
      =f.label :tag_list, 'Tag List'
      %br
      =f.text_field :tag_list, :size => 70
    %p
      =f.text_area :body, :cols => 70, :class => 'editor'
    %p
      =f.submit :submit
