.posthead
  .title
    -if title_link
      =link_to post.title, post.permanent_url
    -else
      #{post.title}
  .datetime
    =render :partial => 'common/datetime', :object => post
    .poster
      =render :partial => 'common/byline', :object => post.poster