.posthead
  .title
    -if title_link
      -unless post.draft?
        =link_to "#{h post.title}", post.permanent_url
      -else
        =link_to "#{h post.title}", show_draft_url(post)
    -else
      #{h post.title}
  .datetime
    =render :partial => 'common/datetime', :object => post.published_at
    .poster
      =render :partial => 'common/byline', :object => post.poster