.post{:id => "post-#{post.id}"}
  =render :partial => 'common/posthead', :locals => {:post => post, :title_link => false}
  .postbody
    :markdown
      #{post.body}
  =render :partial => 'common/post_tags', :locals => {:post => post}
  =render :partial => 'common/postfoot', :locals => {:post => post, :read_more => false,:comment_link => true}
=render :partial => "common/comments", :object => post.comments