.post
  =render :partial => 'common/posthead', :locals => {:post => post}
  .postbody
    :markdown
      #{h post.body}
  =render :partial => 'common/postfoot', :locals => {:post => post, :read_more => false}
=render :partial => "common/comments", :object => post.comments