.post
  =render :partial => 'common/posthead', :locals => {:post => post}
  .postbody
    -if post.body.length > 850
      :markdown
        #{h post.body[0, post.body[0, 800].rindex(/\W/)]} ...
        <span>
          #{link_to 'read more', show_posts_url(:year => post.created_at.year, :month => post.created_at.month, :day => post.created_at.day, :slug => post.slug)}
        </span>
    -else
      :markdown
        #{h post.body}
    =render :partial => 'common/post_tags', :locals => {:post => post}
  =render :partial => 'common/postfoot', :locals => {:post => post, :read_more => true}