-if post.tag_counts.length > 0
  %p.tags
    Tags:
    -post.tags.each_with_index do |tag, count|
      =link_to "#{tag.name}", tag_search_path(:action => :tag, :tag_name => tag.name)
      - unless post.tag_counts.length - count < 2
        |
