.section
  .secthead
    Navigation
  .sectbody
    %p
      %a{:href=>'/'}Latest Entries
    %p
      %a{:href=>bio_url}
        Who
        %i
          %b is
        this guy?
    %p
      %a{:href=>'#'}Contact Me
.section
  .secthead
    Archive
  .sectbody
    A historical archive goes here
.section
  .secthead
    Tags
  .sectbody
    A tag cloud goes here
.section
  .secthead
    Recent Tweets
  .sectbody
    %p A recent tweet
    %p.tweet Another recent tweet
    %p.tweet A longer tweet about how great OAuth is and how much we like social media and Twitter and such
    %p.tweet Tweet.